name: Frontend CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout frontend
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Upload build to server
        run: |
          rsync -avz --delete \
          ./build/ \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/simran/simran.project/Client/build/

      - name: Reload nginx
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "sudo systemctl reload nginx"
